APP_NAME=SGPS
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://rio-sgps.test

LOG_CHANNEL=stack

JWT_SECRET=

CERBERUS_ENDPOINT=https://jeap.rio.rj.gov.br/cerberus/
CERBERUS_ENVIRONMENT=DESENVOLVIMENTO
CERBERUS_SYSTEM_ID=3253
CERBERUS_SYSTEM_CODE=SGPS
CERBERUS_API_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rio_sgps
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=memcached
SESSION_DRIVER=memcached
SESSION_LIFETIME=120
QUEUE_DRIVER=redis

SCOUT_DRIVER=tntsearch
SCOUT_QUEUE=false

HORIZON_PREFIX="horizon:"
HORIZON_NOTIFICATIONS_EMAIL=dev@lqdi.net

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

BUGSNAG_API_KEY=